#output {
  font-family: Inconsolata, monospace;
  border: 1px solid grey;
  background-color: lightgrey;
  overflow: scroll;
}

#last {
  position: absolute;
  top: 40vh;
  left: 40vw;
  z-index: 10;
}

#last button {
  position: absolute;
  top: 40vh;
  left: 40vw;
  z-index: inherit;
}

form#projectform input[type="submit"] {
  display: none;
}

svg {
  background-color: greenyellow;
  border: 1px solid grey;
  border-radius: 20%;
}

@media (orientation: portrait) {
  /* form .button {
    width: 100%;
  } */

  input {
    font-size: 4rem;
    width: 100%;
    height: 50%;
  }

  #fileupload {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 85%;
  }

  #input {
    position: absolute;
    left: 0;
    right: 0;
    height: 12rem;
    bottom: 10rem;
  }

  #output {
    font-size: 1.8rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 22rem;
    top: 15%;
  }

  #lastpatharea {
    background-color: white;
    border: 1px solid black;
    font-size: 5rem;
    position: absolute;
    left: 0;
    width: 80%;
    bottom: 0;
    right: 20%;
    height: 10rem;
    overflow-x: scroll;
    z-index: 1;
  }

  svg {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 10rem;
    width: 20%;
    z-index: 2;
  }
}